################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DifferentialEquationGrapher/FileContentIndex/6d4a72ef-1b72-4ebf-8012-36aed489f65a.vsidx
/.vs/DifferentialEquationGrapher/FileContentIndex
